:root{
--title-color: #212121;
--subtitle-color: #757575;
--blue-active-color: #2196F3;
--white-title-color: #FFFFFF;
--white-btm-color: #FFFFFF;
}

body{
    font-family: 'Roboto', sans-serif;
}
.link {
    text-decoration: none;
}
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-studio {
    color: #000000;
}
.logo-studio-footer {
    color: #FFFFFF;
}

ul{
    list-style: none;
}


/* ------------HEADER-------------- */

.header {}

.header-nav {
    list-style: none;
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
}
.header-nav-link:hover,
.header-nav-link:focus{
    color: var(--blue-active-color);
}
.header-nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
.header-nav-contact:hover,
.header-nav-contact:focus {
color: var(--blue-active-color);
}

/* ------------HERO-------------- */

.hero {
    background: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-title-color);
    text-transform: uppercase;
}
.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-btm-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

/* ------------ABOUT-------------- */

.about {}

.about-list {}

.about-title {
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.about-subtitle {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--subtitle-color);
}

/* ------------EXAMPLE-------------- */

.example {}
.example-title {
    font-size: 36px;
    line-height: 1.6666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.example-item {}

/* ------------TEAM-------------- */

.team {}
.team-title {
    font-size: 36px;
    line-height: 1.6666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-list {}
.team-item {}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-position {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--subtitle-color);
}

/* ------------FOOTER-------------- */

.footer {
background: #2F303A;
}

.footer-address {
}
.footer-address-list{}

.footer-contact {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;
}
.footer-contact-address{
color: #FFFFFF;
}

.footer-contact-link {
    color: rgba(255, 255, 255, 0.6);
}

/* ------------PORTFOLIO-------------- */

.portfolio {}

.portfolio-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: #FFFFFF;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--subtitle-color);
}